<form (ngSubmit)="onSave()" #articleForm="ngForm">
	<header>
		<h3 *ngIf="!editMode">{{title}}</h3>
		<div *ngIf="editMode">
			<md-input class="blog-article__title blog-article--editable" placeholder="Article title" name="title"
					  [(ngModel)]="title" #titleVar="ngModel" required></md-input>
			<div [hidden]="!titleVar.invalid" class="error-message">
				Title is required
			</div>
		</div>
	</header>

	<article class="blog-article">
		<div *ngIf="!editMode">{{body}}</div>
		<div *ngIf="editMode">
			<textarea class="blog-article__body blog-article--editable" name="body"
				  [(ngModel)]="body" #bodyVar="ngModel" required>{{body}}</textarea>
			<div [hidden]="!bodyVar.invalid" class="error-message">
				Description is required
			</div>
		</div>
	</article>

	<md-button-toggle-group name="mode" (change)="onModeChange($event)">
		<md-button-toggle value="view" checked="true">View Mode</md-button-toggle>
		<md-button-toggle value="edit">Edit Mode</md-button-toggle>
	</md-button-toggle-group>

	<button type="submit" md-raised-button color="primary"
			*ngIf="editMode" [disabled]="!articleForm.form.valid">Save</button>
</form>
