md-list.blog {
    background-color: #fff;
    color: #777;
}

md-list.blog md-list-item .md-list-item {
    height: auto;
    flex-direction: column;
    margin: 10px 0 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.blog .blog__item header {
    width: 100%;
    margin-bottom: 5px;
}

.blog .blog__item article {
    width: 100%;
    text-indent: 30px;
    padding-left: 20px;
}